<app-tour-image *ngIf="tour"
    [imageUrl]="tour.imageUrl" 
    [alt]="tour.name"
/>
<app-tour-info *ngIf="tour"
    [name]="tour.name" 
    [description]="tour.longDescription"
/>
<app-tour-details *ngIf="tour"
    [duration]="tour.tourDetails.duration" 
    [languages]="tour.tourDetails.languages" 
    [price]="tour.tourDetails.price" 
    [places]="getPlacesArray()"
/>
<div id="button-container">
    <app-generic-button (click)="openDialog()"/>
</div>



<section id="other-tours-section">
    <h2 id="tour-title">Check other Tours</h2>
    <app-tour-list />
</section>
