<app-tour-image *ngIf="tour"
    [imageUrl]="tour.imageUrl" 
    [alt]="tour.name"
/>
<app-tour-info *ngIf="tour"
    [title]="tour.name" 
    [description]="tour.longDescription"
/>
<app-tour-details *ngIf="tour"
    [duration]="tour.tourDetails.duration" 
    [languages]="tour.tourDetails.languages" 
    [price]="tour.tourDetails.price" 
    [places]="tour.tourDetails.places"
/>

<div id="button-container">
    <app-generic-button (click)="openDialog()"/>
</div>

<section id="other-tours-section">
    <h2 id="tour-title">Check other Tours</h2>
    <app-card-catalog>
        <app-card imagePath="assets/images/London2.png" title="London" description="Lorem ipsum dolor"
            alt="London City" />

        <app-card imagePath="assets/images/London2.png" title="London" description="Lorem ipsum dolor"
            alt="London City" />

        <app-card imagePath="assets/images/London2.png" title="London" description="Lorem ipsum dolor"
            alt="London City" />
        <app-card imagePath="assets/images/London2.png" title="London" description="Lorem ipsum dolor"
            alt="London City" />
    </app-card-catalog>
</section>
