<div class="main-catalog">
    <div *ngFor="let tour of toursList" (click)="navigateToTour(tour.id)" class="card">
        <div class="card-img-holder">
        <img [src]="tour.imageUrl">
        </div>
        <h3 class="blog-title">{{ tour.name }}</h3>
        <div class="card-details">
            <span class="blog-time">Available</span>
            <span class="tour-price">
                <ng-container *ngIf="!tour.name.toLowerCase().includes('free'); else freePrice">
                  {{ 155 | currency: '£ ' }}
                </ng-container>
                <ng-template #freePrice>
                  <span id="free-tour">Free</span>
                </ng-template>
            </span>
        </div>
        <p class="description">
            {{ tour.shortDescription }}
        </p>
        <div class="options">
        <span id="discover">
            Discover more
        </span>
        <button class="btn">View</button>
        </div>
    </div>
</div>
  
  
  
  