.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.description {
    color: #666666;
}

#section-title {
    margin-bottom: 15px;
}