<mat-card class="testimonial-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="card-title">Sarah Anderson</mat-card-title>
      <mat-card-subtitle>London Tour</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="assets/images/London2.png" alt="Photo of London"> -->
    <!-- <img src="assets/images/London2.png" alt="Photo of London" /> -->
    <mat-card-content>        
        <p class="card-description">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, totam earum necessitatibus consectetur recusandae autem sunt."
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum explicabo fuga doloribus nobis ab impedit
        </p>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>