<app-home-image />    
<app-section-info 
    title="Explore our Top Cities"
    description="From thrilling adventures to relaxing getaways"
/>
<app-card-catalog> 
    <app-card 
        imagePath="assets/images/London2.png" 
        title="London"
        description="Lorem ipsum dolor"
        alt="London City"
        link="city"
        />

        <app-card 
        imagePath="assets/images/London2.png" 
        title="London"
        description="Lorem ipsum dolor"
        alt="London City"
        link="city"
        />
        <app-card 
        imagePath="assets/images/London2.png" 
        title="London"
        description="Lorem ipsum dolor"
        alt="London City"
        link="city"
        />
        <app-card 
        imagePath="assets/images/London2.png" 
        title="London"
        description="Lorem ipsum dolor"
        alt="London City"
        link="city"
        />
        <app-card 
        imagePath="assets/images/London2.png" 
        title="London"
        description="Lorem ipsum dolor"
        alt="London City"
        link="city"
        />
        <!-- <app-card 
        imagePath="assets/images/manchester.jpg" 
        title="Manchester"
        description="Lorem ipsum dolor"
        alt="London City"
        /> -->

</app-card-catalog>
