<app-city-image />  
<app-section-info 
    title="Our Tours"
    description="Lorem ipsum dolor, sit amet consectetur adipisicing elit."
/> 
<app-card-catalog>
    <app-card 
        imagePath="assets/images/londonNew.jpg" 
        title="Tour in London"
        description="Lorem ipsum dolor, sit amet consectetur adipisicing elit."
        alt="Tour"
        link="tour"
    />
    
    <app-card 
        imagePath="assets/images/londonNew.jpg" 
        title="Tour in London"
        description="Lorem ipsum dolor, sit amet consectetur adipisicing elit."
        alt="Tour"
        link="tour"
    />

    <app-card 
        imagePath="assets/images/londonNew.jpg" 
        title="Tour in London"
        description="Lorem ipsum dolor, sit amet consectetur adipisicing elit."
        alt="Tour"
        link="tour"
    />

    <app-card 
        imagePath="assets/images/londonNew.jpg" 
        title="Tour in London"
        description="Lorem ipsum dolor, sit amet consectetur adipisicing elit."
        alt="Tour"
        link="tour"
    />
</app-card-catalog>
