.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efeff0;
    width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
}

#testimonial-title {
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.description {
    color: #666666;
    text-align: center;
}

#testimonial-subtitle {
    margin: 15px 0;
    color: #666666;
    font-weight: 400;
    text-align: center;
}

.app-testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Define a maximum width for larger screens */
}

/* Estilos para tarjetas de testimonio */
.testimonial-card {
    width: 100%;
    max-width: 400px;
    margin: 15px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .testimonials {
        padding: 30px 10px; /* Reduce el padding lateral */
    }

    #testimonial-title, .description, #testimonial-subtitle {
        font-size: 1.2rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }

    .testimonial-card {
        width: 90%; /* Aumenta el ancho en pantallas pequeñas para aprovechar el espacio */
        max-width: none; /* Elimina el máximo ancho para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .testimonials {
        padding: 20px 5px; /* Ajusta el padding para pantallas muy pequeñas */
    }

    #testimonial-title, .description, #testimonial-subtitle {
        font-size: 1rem; /* Ajusta aún más el tamaño de fuente para pantallas pequeñas */
    }
}
