.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efeff0;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    margin-left: calc(-50vw + 50%); /* Elimina márgenes laterales */
    margin-right: calc(-50vw + 50%); /* Elimina márgenes laterales */
    padding: 30px 15px; /* Añade padding general */
}

#testimonial-title {
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center; /* Centra el título en pantallas pequeñas */
}

.description {
    color: #666666;
    text-align: center; /* Centra el texto en pantallas pequeñas */
}

#testimonial-subtitle {
    margin: 15px 0 15px 0;
    color: #666666;
    font-weight: 400;
    text-align: center; /* Centra el subtítulo en pantallas pequeñas */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .testimonials {
        padding: 30px 10px; /* Reduce el padding lateral */
        margin-left: -10px; /* Ajusta los márgenes para pantallas pequeñas */
        margin-right: -10px; /* Ajusta los márgenes para pantallas pequeñas */
    }

    #testimonial-title, .description, #testimonial-subtitle {
        font-size: 1.2rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
}
