<div id="tour-details">
    <h3 id="tour-details-title">Tour details</h3>
    <div class="detail">
        <span>Duration:</span> <p> {{ duration }} hours</p>
    </div>
    <div class="detail">
        <span>Languages:</span> <p>{{ languages }}</p>
    </div>
    <div class="detail">
        <span>Price:</span> <p>{{ price | currency: 'EUR': true }} per person</p>
    </div>
    <div class="detail">
        <span>Places:</span>
        <ol>
            <li *ngFor="let place of places">
                {{ place }}                
            </li>
        </ol>
    </div>    
</div>

