<div id="tour-details">
    <h3 id="tour-details-title">Tour details</h3>
    <div class="detail">
        <span>Duration:</span> <p> Approximately 8 hours</p>
    </div>
    <div class="detail">
        <span>Language:</span> <p>English</p>
    </div>
    <div class="detail">
        <span>Price:</span>    <p>75 per person</p>
    </div>
    <div class="detail">
        <span>Starting Point:</span> <p>Trafalgar Square</p>
    </div>
    <div class="detail">
        <span>Ending Point:</span>  <p>London Eye</p>
    </div>
</div>

