<div mat-dialog-content>
    <form [formGroup]="touristForm" (ngSubmit)="saveTouristReservation()" class="formulario">

        <mat-form-field class="example-full-width">
            <mat-label>Full name</mat-label>
            <input matInput formControlName="fullName" required aria-required="true">   
            <mat-error *ngIf="touristForm.get('fullName')?.hasError('required')">Full name is required</mat-error>       
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input type="tel" matInput formControlName="phoneNumber" placeholder="555-555-1234" required aria-required="true">
            <!-- <mat-error *ngIf="touristForm.get('phoneNumber')?.hasError('required')">Phone number is required</mat-error> -->
          </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="example@example.com" required aria-required="true">
            <mat-error *ngIf="touristForm.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="touristForm.get('email')?.hasError('email') && !touristForm.get('email')?.hasError('required')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        <!-- <app-generic-button (click)="saveTouristReservation()"/> -->
        <div mat-dialog-actions class="button-actions">
          
          <button mat-flat-button color="primary" type="submit">Book</button>
        </div>
    </form>
</div>