.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

button {
    font-size: larger;
    font-weight: bold;
    padding: 25px;
    border-radius: 15px;
}